:root{
    --primary-color: 249, 245, 240;
    --text-color: 44, 24, 16;
    --decoration-color: 230, 126, 34;
}

.button{
    position: relative;
    display: inline-block;
    padding: 1.2em 3em;
    margin-top: 1em;
    color: rgb(var(--text-color));
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
    border: 1px solid rgb(var(--text-color));
    background-color: rgb(var(--primary-color));
    align-self: flex-start;
    transition: background-color 0.3s ease-in-out;
}
.button:hover{
    background-color: rgba(var(--decoration-color), 0.7); 
    cursor: pointer;
}

.newsletter-form button {
    background: transparent;
    border: none;
    color: rgb(var(--primary-color));
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.3s;
}

.card{
    background-color: rgb(var(--bg-color));
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content{
    padding: 1em 0em;
    color: rgb(var(--text-color));
}

.card-content h3{
    margin-bottom: 10px;
    font-size: 1.6vw;
    font-weight: 300;
}