.button{
    position: relative;
    display: inline-block;
    padding: 1.2em 3em;
    margin-top: 1em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
    border: 1px solid black;
    background: white;
}

.card{
    background-color: white;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content{
    padding: 1em 0em
}

.card-content h3{
    margin-bottom: 10px;
    font-size: 1.6vw;
    font-weight: 300;
}