.row-layout {
    display: grid;
    grid-template-columns: 1fr; /* singola colonna per home */
    gap: 2em;
}

.footer-layout {
    min-height: auto; 
    padding-top: 1em;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    margin-bottom: 4em;
}

.result-grid {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 1em 2em;
}

.result-grid > .card {
    width: 250px;
}

.result-grid > h2 {
    justify-self: start;
}

.detail-layout {
    display: grid;
    gap: 2em;
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
}

/* Admin page  mobile small  probabile inutile
#productsList {
    grid-template-columns: 0.46fr 0.46fr;
}
 
.adminUpload {
    max-width: 100%;
}
  
@media (min-width: 640px) {
    .row-layout {
        grid-template-columns: 1fr 1fr;
    }
 
    .result-grid {
        grid-template-columns: 1fr 1fr;
    }
 
    .result-grid > h2 {
        grid-column: 1 / span 2;
    }
 
    #productsList {
        grid-template-columns: repeat(2, 1fr);
    }
}
 

 
@media (min-width: 1024px) {
    .row-layout {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
 
    .section-title {
        text-align: center;
    }
 
    .result-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
 
    .result-grid > h2 {
        grid-column: 1 / span 3;
    }
 
    .footer-layout {
        grid-template-columns: 1fr 1fr 1fr;
    }
 
    .detail-layout {
        grid-template-columns: 1fr 1fr;
    }
 
    #productsList {
        grid-template-columns: repeat(4, 1fr);
    }
}
 
@media (min-width: 1024px) {
    .result-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 auto;
        max-width: 80em;
        gap: 2em 4em;
    }
 
    .result-grid > h2 {
        grid-column: 1 / span 4;
    }
}
