:root{
    --primary-color: 249, 245, 240;
    --text-color: 44, 24, 16;
    --decoration-color: 230, 126, 34;
    --side-padding: 3em;
    --top-padding: 3em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 2px;
}
body{
    background-color: rgb(var(--primary-color));
    color: rgb(var(--text-color));
}

html,body{
    width: 100%;
}

.login-page {
    width: 100%;
    min-height: 100dvh;
    background-image: url('../assets/img/sfondo-hero-sustainable-design.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
    position: relative;
}

.login-page::before {
    content: '';
    position: absolute; /* posición absoluta que se ve limitada por la relativa del .login-page (su padre)*/
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.area-logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.company-name {
    font-weight: bold;
    color: rgb(var(--primary-color));
    font-size: 2.5em;
    line-height: 1.5em;
    text-align: center;
    /*Insertar logo de IMG si quiero*/
}

#loginCard {
    z-index: 10;
    max-width: 400px; 
    width: 100%;
    border-radius: 12px;
    text-align: center;
    padding: 2.5em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /*Shadow moves down 4px, blur of 15px, black at 50% transparency*/
    background-color: rgb(var(--primary-color));
    color: rgb(var(--text-color));
    flex-shrink: 0;
}

#loginCard header {
    text-align: center;
    margin-bottom: 2em;
}

#loginCard h2{
    line-height: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#loginCard .form-group  {
    text-align: left;
    display: flex;
    flex-direction: column;
}

#loginCard .form-group label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

#loginCard .form-group input {
    width: 100%;
    padding: 0.5em;
    border-radius: 6px;
    border: 1px solid #444;
    outline: none;
    margin-bottom: 1em;
    transition: all 0.5s ease;
}

#loginCard .forgotten {
    text-align: right;
    display: block;
    font-size: 0.75em;
    text-decoration: none;
}

#loginCard button {
    width: 100%;
    padding: 0.75em;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    margin-top: 2em;
    text-align: center;
    cursor: pointer;
}


#loginCard .phone-container {
    display: flex;
    gap: 15px;
    width: 100%;
    text-align: left;
}

#loginCard .phone-container .prefix-box {
    flex: 1;
    min-width: 80px;
}
#loginCard .phone-container .phone-box {
    flex: 3;
}

#loginCard .phone-container label {
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

#loginCard .phone-container input {
    margin-top: 0.5em;
    width: 100%;
    padding: 0.5em;
    border-radius: 6px;
    border: 1px solid #444;
    outline: none;
    margin-bottom: 0.5em;
    transition: all 0.5s ease;
}
#loginCard .register {
    width: 100%;
    padding: 0.5em;
    text-align: center;
    display: block;
    margin-top: 1.5em;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.8em;
    background-color: transparent;
}