* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.hero{
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.home-hero{
    background-color: black;
    height: 75em;
}

.sub-home-hero{
    height: 45em; 
    padding: 0 2.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
}

nav{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1.5em 3em;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.nav-links a{
    color: white;
    text-decoration: none;
    margin-right: 1.2em;
}

.logo{
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.nav-icons i{
    margin-left: 20px;
    cursor: pointer;
    color: white;
}

.hero-content{
    color: white;
    width: 100%;
    max-width: 600px;
}

.hero-title{
    font-size: 5vw;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.1;
}

.hero-content p{
    margin-bottom: 30px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.shop-description{
    position: absolute;
    top: 25%;
    left: 5%;
    line-height: 1.5;
    font-weight: 300;
}

.big-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10vw;
    font-weight: 300;
    padding-bottom: 20px;
}

.main-products{
    padding: 3.5em 2.5em;
    height: 45em;
    align-content: center;
}

.main-products h2{
    font-size: 2vw;
    margin-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.row-layout{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 2em; 
}

.card{
    background-color: white;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content{
    padding: 1em 0em
}

.card-content h3{
    margin-bottom: 10px;
    font-size: 1.6vw;
    font-weight: 300;
}

.button{
    position: relative;
    display: inline-block;
    padding: 1.2em 3em;
    margin-top: 1em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
    border: 1px solid black;
    background: white;
}

.hero p{
    font-size: 1.2rem;
}