:root{
    --primary-color: 249, 245, 240;
    --text-color: 44, 24, 16;
    --decoration-color: 230, 126, 34;
    --side-padding: 3em;
    --top-padding: 3em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 2px;
}

body{
    background-color: rgb(var(--primary-color));
    color: rgb(var(--text-color));
}

a {
    color: rgb(var(--text-color));
}

.hero {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; 
    min-height: 15em;
}

.hero h1 {
    text-align: center;
    position: absolute; 
    bottom: 20px;
    left: 0;
    width: 100%;
}

.hero-padding{
    padding: var(--top-padding) var(--side-padding);
}

.big-height{
    min-height: 45em;
}
.mid-height{
    min-height: 35em;
}
.small-size{
    min-height: 15em;
}
.align-center{ 
    justify-content: center; 
}
.align-start{
    justify-content: flex-start;
}
.home-table-bg{
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0)),
        url('../assets/img/sfondo-home-tavolo-con-bottiglie.webp');
    color: rgb(var(--primary-color));
    box-shadow: inset 0em -1em 5em black;
}
.sustainable-design-bg{
    background-image: 
        linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0)),
        url('../assets/img/sfondo-hero-sustainable-design.webp');
    color: rgb(var(--primary-color));
}
.craftsmanship-bg{
    background-image: 
        linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0)),
        url('../assets/img/sfondo-hero-craftsmanship.webp');
    color: rgb(var(--primary-color));
}

nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 12%;
    font-size: 0.8rem;
    padding: 2em var(--side-padding);
    align-items: center;
    display: flex;
}

.nav-links, .nav-icons{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-links{
    justify-content: flex-start;
}
.nav-links a{
    text-decoration: none;
    margin-right: 1.2em;
    display: inline-block;
    color: rgb(var(--primary-color));
    position: relative;
}
.nav-links a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--primary-color));
    transition: width 0.3s ease-in-out;
}
.nav-links a:hover::after{
    width: 100%;
}
.nav-links .active {
    font-weight: bold;
    pointer-events: none; 
    cursor: default;
}
.logo{
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
    line-height: 1;
    font-size: 1rem;
}
.nav-icons{
    justify-content: flex-end;
}
.nav-icons i{
    margin-left: 20px;
    cursor: pointer;
    color: rgb(var(--primary-color));
}
.home-search-box{
    background: transparent;
    height: 2em;
    border-radius: 4em;
    display: flex;
    flex-direction: column;
    position: relative;
}
.home-search-box.active {
    background-color: rgb(var(--primary-color));
    border: 1px solid rgb(var(--text-color));
}
.home-search-bar{
    width: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0 1em ;
    color: rgb(var(--text-color));
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    opacity: 0;
}
.home-search-box.active .home-search-bar{
    width: 15em;
    opacity: 1;
}
.result-list{
    background-color: rgb(var(--primary-color));
}
.result-list a{
    text-decoration: none;
    color: rgb(var(--text-color))
}
.result-item{
    padding: 1em 2em;
}

.giant-title{
    font-size: 11rem;
    font-weight: 300;
}
.big-size{
    font-size: 3.5rem;
}

.shop-description{
    position: absolute;
    top: 15%;
    left: var(--side-padding);
    line-height: 1.5;
    font-weight: 300;
    font-size: 1rem;
}

.section-title {
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.1;
    text-transform: uppercase;
}

.section-text {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 30px;
    max-width: 600px;
}

.main-quote{
    align-items: center;
    text-align: center;
}

.main-quote blockquote {
    font-size: 2rem;
    margin-bottom: 30px;
    line-height: 1.4;
}

.newsletter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(var(--text-color));
    padding-bottom: 10px;
    margin-top: 1em;
}

.newsletter-form input {
    background: transparent;
    border: none;
    outline: none;
    color: rgb(var(--text-color));
    font-size: 1rem;
    width: 100%;
    font-weight: 300;
}

.footer-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5em;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 0.6em;
}

.Items{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.itemBox {
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 1%;
    max-width: 70%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.itemBox img {
    width: 85%;
}

.productDesc {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rowCompra {
    display: flex;
    gap: 10px;
    align-items: center;
}


.hero p{
    font-size: 1.2rem;
}

.footer-links a {
    text-decoration: none;
    color: rgb(var(--text-color));
    font-size: 1rem;
    font-weight: 300;
}

.mainAdmin {
    margin: 3%; 
    padding: 20px;
}

.adminUpload {
    max-width: 30%;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 3%;
}

.adminUpload form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#productsList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5%;
    margin-top: 5%;
    gap: 2%;
}

#productsList li{
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
